@font-face {    
    src: url("./assets/polices/Escape.otf") format("opentype");
    font-family: "Escape";
}

html {
    background: #302788;
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {  
    background-color: #274E88;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo {
    font-family: "Escape";
    font-size: 80px;
    letter-spacing: 15px;
    color: #DEDEDE;
    position: relative;
    padding: 0 30px 0 30px;
    margin: 10px 10px 10px 10px;

}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #DEDEDE;
    padding: 0 30px 0 30px;
    margin: 10px 10px 10px 10px;

}

.text {
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    color: #DEDEDE;
    text-align: center;
    padding: 0 30px 0 30px;
    line-height: 1.2;
    margin: 10px 10px 10px 10px;

}

.imageSwitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin: 20px;
}

img {
    max-height: 400px;
}

video {
    max-height: 400px;
}

.options {
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    color: #DEDEDE;
    background-color: #612788;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;    
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

button:hover {
    background-color: #8B54B0;
}

.checkbox {
    color: #DEDEDE;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;    
}

.Lampe_Non, .Commode_Non, .Canape_Non, .Assomer_Non, .Voiture, .Lampe_Non button, .Commode_Non button, .Canape_Non button, .Assomer_Non button, .Voiture button{
    animation: wrong 1s ease-in;
}

.Lampe_Non .game, .Commode_Non .game, .Canape_Non .game, .Assomer_Non .game, .Voiture .game{
    animation: wrongGame 1s ease-in;
}

.Porte_Oui, .Lampe_Oui, .Canape_Oui, .Commode_Oui, .Porte_Cle, .Assomer_Oui, .Corps, .Porte_Oui button, .Lampe_Oui button, .Canape_Oui button, .Commode_Oui button, .Porte_Cle button, .Assomer_Oui button, .Corps button{
    animation: obtained 1s ease-in;
}

.Porte_Oui .game, .Lampe_Oui .game, .Canape_Oui .game, .Commode_Oui .game, .Porte_Cle .game, .Assomer_Oui .game, .Corps .game{
    animation: obtainedGame 1s ease-in;
}

.Fin, .Fin button{
    animation: win 2s ease-in;
}

.Fin .game{
    animation: winGame 2s ease-in;
}

.Debut, .Debut button{
    animation: begin 2s ease-in;
}

.Debut .game{
    animation: beginGame 2s ease-in;
}

@keyframes wrong {
    from{background-color: rgb(170, 43, 43);}
}

@keyframes wrongGame {
    from{background-color: rgb(226, 62, 62);}
}

@keyframes obtained {
    from{background-color:  #a2da59c2;};
}

@keyframes obtainedGame {
    from{background-color:  #84d619b6;};
}

@keyframes win {
    from{background-color: rgba(223, 208, 0, 0.719);}
}

@keyframes winGame {
    from{background-color: rgb(223, 208, 0);}
}

@keyframes begin{
    from{background-color: rgba(0, 0, 0, 0.699);}
}

@keyframes beginGame{
    from{background-color: rgba(0, 0, 0, 0.699);}
}